<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RopaTrabajo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09C0D5211EB8DA7F008C8D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0D5381EB8DA80008C8D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09C0D5431EB8DA80008C8D65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
